*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head{
  font-weight: bold;
  font-size: 40px;
  margin: 10px ;
  margin-bottom: 20px;
  font-family: cursive;
}
input{
  width: 100%;

}
.style{
  font-family: cursive;
}
.styles{
  font-family: cursive;
}
.container{
  text-align: left;
}
.TodoItem-container{
  text-align: left;
}
button{
  width: 50%;
}
.row{
  margin: 10px;
}